<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expense</title>
</head>

<body>

    <button id="premid" style="display: flex; float: right;" onclick="buyPremiumHandler()">Buy Premium
        Membership</button>
    <p style="text-align: end; font-weight: bolder; color: rgb(134, 29, 233); font-style: italic;" id="premstatus"></p>
    <button id="leaderid" style="visibility: hidden; display: flex; float: right;">Show
        Leaderboard</button>
    <h1 style="text-align: center; color: blue;"><u>Add Expenses</u></h1>
    <form style="margin: auto; width: max-content; display: flex; flex-direction: row; gap: 10px; " action=""
        onsubmit="formaddexpHandler(event)" method="post">
        <div style="display: flex; gap: 4px;">
            <label for="">Choose Expense Ammount : </label>
            <input style="flex: 1;" type="number" name="" id="expamount">
        </div>
        <div style="display: flex; gap: 4px; ">
            <label for="">Chooose Description : </label>
            <input style="flex: 1;" type="text" name="" id="expdesc">
        </div>
        <div style="display: flex; gap: 4px; ">
            <label for="">Choose a Category : </label>
            <select name="" id="expcat">
                <option value="Fuel">Fuel</option>
                <option value="Food">Food</option>
                <option value="Electricity">Electricity</option>
                <option value="Movie">Movie</option>
            </select>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <button type="submit">Add Expense</button>
        </div>
    </form>
    <hr>
    <div id="expid" style="visibility: hidden;">
        <h1 style="text-align: center;">Expenses</h1>
        <div id="filterid" style="display: flex; justify-content: center; visibility: hidden;">
            <select name="" id="">
                <option value="daily">daily</option>
                <option value="monthly">monthly</option>
                <option value="yearly">yearly</option>
            </select>
        </div>
        <div>
            <p style="text-align: center;" id="statusmessage"></p>
            <table
                style="width: 80vw; margin: auto; line-height: 3vh; text-align: center; border-collapse: collapse; border: 2px solid black;">
                <thead style="border-bottom: 2px solid black;">
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Expenses</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="expenserow">

                </tbody>
            </table>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; margin-top: 2vh;">
            <button style="width: max-content;" onclick="downloadExpense()">Download Expenses</button>
            <ul style="list-style-type: none;" id="dexplist"></ul>
        </div>
    </div>

    <div id="leaderboardid" style="visibility: hidden;">
        <hr>
        <h1 style="text-align: center;">Leader Board</h1>
        <ul id="leaderlistid"></ul>
    </div>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script>
        const expamount = document.getElementById('expamount')
        const expcat = document.getElementById('expcat')
        const expdesc = document.getElementById('expdesc')
        const statusmessage = document.getElementById('statusmessage')
        const expslists = document.getElementById('expslists')

        async function downloadExpense() {
            await axios.post('http://localhost:3000/expense/downloadexpense', {
                uid: localStorage.getItem('uid')
            })
                .then(response => {
                    if (response.status === 200) {
                        var a = document.createElement('a')
                        a.href = response.data.fileurl
                        a.download = 'myexpense.csv'
                        a.click()
                    } else {
                        throw new Error(response.data.message)
                    }
                })
                .catch(err => {
                    console.log(err.message)
                })
        }


        async function buyPremiumHandler() {
            const order = await axios.post('http://localhost:3000/expense/purchaseorder', {
                uid: localStorage.getItem('uid')
            })

            var options = {
                "key": 'rzp_test_LZatoItzsPPRit',
                "amount": '250000',
                "name": "test",
                "order_id": order.data.order.id,
                "prefill": {
                    "name": "test name",
                    "email": "testemail@email.com",
                    "contact": 1234567890
                },
                "theme": {
                    "color": "#3399cc"
                },
                "handler": function (response) {
                    axios.post('http://localhost:3000/expense/purchasepremium', {
                        uid: localStorage.getItem('uid'),
                        pay_id: response.razorpay_payment_id,
                        order_id: response.razorpay_order_id
                    })
                        .then(result => {
                            if (result.status == 201) {
                                alert(result.data.message)
                                document.getElementById('premid').remove()
                                document.getElementById('premstatus').innerHTML = "You are a Premium User"
                            }
                        })
                        .catch(() => {
                            alert('Something Went wrong')
                            alert('Try Again')
                        })

                }

            }


            var rzp1 = new Razorpay(options);

            rzp1.open();

            rzp1.on('payment.failed', (response) => {
                axios.post('http://localhost:3000/expense/failedpurchase', {
                    uid: localStorage.getItem('uid'),
                    pay_id: response.error.metadata.payment_id,
                    order_id: response.error.metadata.order_id
                })
            })

        }

        const formaddexpHandler = (e) => {
            e.preventDefault();
            axios.post('http://localhost:3000/expense/addexpense', {
                amount: expamount.value,
                description: expcat.value,
                category: expdesc.value,
                uid: localStorage.getItem('uid')
            })
                .then(result => {
                    if (result.status == 200) {
                        const data = {
                            amount: expamount.value,
                            description: expcat.value,
                            category: expdesc.value,
                            id: result.data.id
                        }
                        document.getElementById('expid').style.visibility = 'visible'
                        createElement(data)
                        statusmessage.style.color = 'green'
                        statusmessage.innerHTML = result.data.message
                        setTimeout(() => {
                            statusmessage.style.color = 'green'
                            statusmessage.innerHTML = ''
                        }, 1000)
                    } else {
                        statusmessage.style.color = 'red'
                        statusmessage.innerHTML = 'Something Went Wrong'
                    }
                })
                .catch(err => {
                    statusmessage.style.color = 'red'
                    statusmessage.innerHTML = 'Something Went Wrong'
                })
        }

        document.addEventListener('DOMContentLoaded', async () => {
            const isprem = await axios.post('http://localhost:3000/expense/ispremium', {
                uid: localStorage.getItem('uid')
            })
            if (isprem.data) {
                document.getElementById('premid').remove()
                document.getElementById('premstatus').innerHTML = "You are a Premium User"
                document.getElementById('leaderid').style.visibility = 'visible'
                document.getElementById('filterid').style.visibility = 'visible'
            }
            const exps = await axios.get(`http://localhost:3000/expense/getexpense/${localStorage.getItem('uid')}`)
            if (exps.data.length > 0) {
                exps.data.map(e => {
                    createElement(e)
                    document.getElementById('expid').style.visibility = 'visible'
                })
            }
            const delist = await axios.get(`http://localhost:3000/expense/downloadexpenses/${localStorage.getItem('uid')}`)
            if(delist.data.length > 0){
                delist.data.map(e => {
                    const li = document.createElement('li')
                    const a = document.createElement('a')
                    a.setAttribute('href',`${e.url}`)
                    a.appendChild(document.createTextNode(`${e.name}`))
                    li.appendChild(a)
                    document.getElementById('dexplist').appendChild(li)
                })
            }
        })

        document.getElementById('leaderid').addEventListener('click', async () => {
            document.getElementById('leaderboardid').style.visibility = 'visible'
            const exps = await axios.get(`http://localhost:3000/expense/leaderboard`)
            exps.data.map(async e => {
                const li = document.createElement('li')
                li.appendChild(document.createTextNode(`Name : ${e.name} , Total Expense : ${e.totalexpense} Rs`))
                document.getElementById('leaderlistid').appendChild(li)
            })
        })

        function createElement(data) {
            let dt;
            if (!data.createdAt) {
                dt = new Date()
            } else {
                dt = new Date(data.createdAt)
            }
            const tr = document.createElement('tr')
            tr.setAttribute('style', 'border-bottom: 1px dotted black;')
            const td = document.createElement('td')
            const td1 = document.createElement('td')
            const td2 = document.createElement('td')
            const td3 = document.createElement('td')
            const td4 = document.createElement('td')
            td.appendChild(document.createTextNode(`${dt.getDate()}-${dt.getMonth()}-${dt.getFullYear()}`))
            td1.appendChild(document.createTextNode(`${data.description} `))
            td2.appendChild(document.createTextNode(`${data.category} `))
            td3.appendChild(document.createTextNode(`${data.amount}Rs`))

            const button = document.createElement('button')
            button.setAttribute('onclick', `deleteExpense(event,${data.id})`)
            button.appendChild(document.createTextNode('Delete Expense'))
            td4.appendChild(button)

            tr.appendChild(td)
            tr.appendChild(td1)
            tr.appendChild(td2)
            tr.appendChild(td3)
            tr.appendChild(td4)
            document.getElementById('expenserow').appendChild(tr)
        }


        async function deleteExpense(e, id) {
            await axios.delete('http://localhost:3000/expense/deleteexpense', {
                data: {
                    id: id,
                    uid: localStorage.getItem('uid')
                }
            })
                .then(result => {
                    if (result.status == 200) {
                        document.getElementById('expenserow').removeChild(e.target.parentElement.parentElement)
                        statusmessage.style.color = 'green'
                        statusmessage.innerHTML = result.data.message
                        setTimeout(() => {
                            statusmessage.style.color = 'green'
                            statusmessage.innerHTML = ''
                        }, 1000)
                    } else {
                        statusmessage.style.color = 'red'
                        statusmessage.innerHTML = result.data.message
                        setTimeout(() => {
                            statusmessage.style.color = 'red'
                            statusmessage.innerHTML = ''
                        }, 1000)
                    }
                })
                .catch(err => {
                    statusmessage.style.color = 'red'
                    statusmessage.innerHTML = 'Some error occured'
                    setTimeout(() => {
                        statusmessage.style.color = 'red'
                        statusmessage.innerHTML = ''
                    }, 1000)
                    console.log(err)
                })
        }

    </script>

</body>

</html>