<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>

<body>

    <h1 style="text-align: center; color: blue;"><u>Reset Password</u></h1>
    <form style="margin: auto; width: max-content; display: flex; flex-direction: column; gap: 10px; " action=""
        onsubmit="formupdatepasswordHandler(event)" method="post">
        <div style="display: flex; gap: 4px; ">
            <label for="">Enter Your Email : </label>
            <input style="flex: 1;" type="email" name="" id="loginemail">
        </div>
        
        <div style="display: flex; justify-content: center; ">
            <button>Forgot password</button>
        </div>
        <div>
            <p style="text-align: center;" id="statusmessage"></p>
        </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script>
       const email = document.getElementById('loginemail')

        const formupdatepasswordHandler = async (e) => {
            e.preventDefault();
            try{
                await axios.post('http://localhost:3000/expense/resetpassword', {
                    email: email.value
                })
                alert('Resent Link Sent Successfully')
            }catch(err){
                alert('Something went wrong')
            }
        }
    </script>

</body>

</html>