<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>

<body>

    <h1 style="text-align: center; color: blue;"><u>Reset Password</u></h1>
    <form style="margin: auto; width: max-content; display: flex; flex-direction: column; gap: 10px; " action=""
        onsubmit="formresetpasswordHandler(event)" method="post">
        <div style="display: flex; gap: 4px; ">
            <label for="">Enter Your Email : </label>
            <input style="flex: 1;" type="email" name="" id="loginemail">
        </div>
        
        <div style="display: flex; justify-content: center; ">
            <button>Forgot password</button>
        </div>
        <div>
            <p style="text-align: center;" id="statusmessage"></p>
        </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script>
        const email = document.getElementById('loginemail')

        const formresetpasswordHandler = (e) => {
            e.preventDefault();
            axios.post('http://localhost:3000/expense/resetpassword', {
                email: email.value
            })
                .then(result => {
                    if (result.status == 200) {
                        localStorage.setItem('uid',result.data.userid)
                        statusmessage.style.color = 'green'
                        statusmessage.innerHTML = result.data.message
                        setTimeout(() => {
                            window.location.href = 'expense/dashboard'
                        }, 1000)
                    }
                })
                .catch(err => {
                    if (err.message === "Request failed with status code 401") {
                        statusmessage.style.color = 'red'
                        statusmessage.innerHTML = "Incorrect Credentials"
                    }
                    if (err.message === "Request failed with status code 404") {
                        statusmessage.style.color = 'red'
                        statusmessage.innerHTML = "User Not Found"
                    }
                })
        }
    </script>

</body>

</html>