<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
</head>

<body>

    <h1 style="text-align: center; color: blue;"><u>Update Password</u></h1>
    <form style="margin: auto; width: max-content; display: flex; flex-direction: column; gap: 10px; " action=""
        onsubmit="formresetpasswordHandler(event)" method="post">
        <div style="display: flex; gap: 4px; ">
            <label for="">Enter Your Password : </label>
            <input style="flex: 1;" type="password" name="" id="fpassword">
        </div>

        <div style="display: flex; gap: 4px; ">
            <label for="">Reenter Password : </label>
            <input style="flex: 1;" type="password" name="" id="repassword">
        </div>

        <div style="display: flex; justify-content: center; ">
            <button type="submit">Update password</button>
        </div>
        <div>
            <p style="text-align: center;" id="statusmessage"></p>
        </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script>
        const fpassword = document.getElementById('fpassword')
        const repassword = document.getElementById('repassword')

        const formresetpasswordHandler = async (e) => {
            e.preventDefault();
            if (fpassword.value === '' || repassword.value === '') {
                alert('Please fill in the fields')
                return
            }
            if (fpassword.value !== repassword.value) {
                alert('Password doesn"t match')
                return
            }
            try {
                const result = await axios.post(`/expense/updatepassword`, {
                    password: fpassword.value,
                    uuid: window.location.href.split('/')[6]
                })
                if (result.status == 200) {
                    alert('password updated successfully')
                    window.location.href = '/login'
                }
            } catch (err) {
                console.log(err.message)
            }
        }
    </script>

</body>

</html>